{% extends 'base.html' %}
{% block content %} 
<div class="container mt-4"> 
  <div class="main-w3layouts wrapper">
    <h2>Action</h2>
      <div class="main-agileinfo">
          <div class="agileits-top">

        <ul>
          <li class="nav-item active">
            <a class="nav-link" href="{{url_for('create_project', id_user= current_user.id)}}">Create Project<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{{url_for('show_my_projects',id_user= current_user.id)}}">Show my projects  <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{{url_for('show_others_projects',id_user= current_user.id)}}">Show other projects <span class="sr-only">(current)</span></a>
          </li>


        </ul>

      </div>
    </div>

  </div>
</div>


  {% endblock content%}